<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">

<Properties>
<Property name="basepath"></Property>
</Properties>


    <Appenders>
        <!-- Console Appender -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout>
                <Pattern>%d{HH:mm:ss} %-5level %logger{36} - %msg%n</Pattern>
            </PatternLayout>
        </Console>

        <!-- File Appender -->
        <File name="File" fileName="logs/app.log">
            <PatternLayout>
                <Pattern>%d{HH:mm:ss} %-5level %logger{36} - %msg%n</Pattern>
            
            </PatternLayout>
            
        </File>
    </Appenders>

    <Loggers>
        <!-- Root Logger -->
        <Root level="Debug">
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>
</Configuration>

